<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings><add name="StableMatchEntities" connectionString="metadata=res://*/StableMatchModel.csdl|res://*/StableMatchModel.ssdl|res://*/StableMatchModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-57QC668\SQLEXPRESS;initial catalog=StableMatch;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
